<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hkk.cloudtv.core.mapper.RoomProgramMapper">

    <select id="findObjByPage" resultType="RoomProgram">
        SELECT *
        FROM metoo_room_program
        ORDER BY addTime
        desc
        LIMIT #{startRow}, #{pageSize}

    </select>

    <sql id="program">
        mrp.id, mrp.status, mrp.live,mrp.playback
    </sql>
    
    <select id="findAccountByTotal" resultType="int">
        SELECT COUNT(1)
        FROM metoo_room_program
    </select>

    <insert id="insert" parameterType="com.hkk.cloudtv.entity.RoomProgram" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO metoo_room_program
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="title != null ">
                title,
            </if>
            <if test="usernName != null">
                usernName,
            </if>
            <if test="beginTime != null">
                beginTime,
            </if>
            <if test="endTime!= null">
                endTime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type!= null">
                `type`,
            </if>
            <if test="info != null">
                info,
            </if>
            <if test="poster !=null">
                poster,
            </if>
            <if test="RoomId != null">
                RoomId,
            </if>
            <if test="lecturer != null">
                lecturer,
            </if>
            <if test="logoImg != null">
                logoImg,
            </if>
            <if test="playback != null">
                playback,
            </if>
        </trim>
        <trim prefix="VALUES (" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="title != null ">
                #{title},
            </if>
            <if test="usernName != null">
                #{usernName},
            </if>
            <if test="beginTime != null">
                #{beginTime},
            </if>
            <if test="endTime!= null">
                #{endTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type!= null">
                #{type},
            </if>
            <if test="info != null">
                #{info},
            </if>
            <if test="poster !=null">
                #{poster},
            </if>
            <if test="RoomId != null">
                #{RoomId},
            </if>
            <if test="lecturer != null">
                #{lecturer},
            </if>
            <if test="logoImg != null">
                #{logoImg},
            </if>
            <if test="playback != null">
                #{playback},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="RoomProgram">
        UPDATE metoo_room_program
        <set>
            <if test="addTime != null">
                addTime=#{addTime},
            </if>
            <if test="title != null ">
                title=#{title},
            </if>
            <if test="usernName != null">
                usernName=#{usernName},
            </if>
            <if test="beginTime != null">
                beginTime=#{beginTime},
            </if>
            <if test="endTime!= null">
                endTime=#{endTime},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="type!= null">
                type=#{type},
            </if>
            <if test="info != null">
                info=#{info},
            </if>
            <if test="poster !=null">
                poster=#{poster},
            </if>
            <if test="RoomId != null">
                RoomId=#{RoomId},
            </if>
            <if test="lecturer != null">
                lecturer=#{lecturer},
            </if>
            <if test="logoImg != null">
                logoImg=#{logoImg},
            </if>
            <if test="live != null">
                live=#{live},
            </if>
            <if test="playback != null">
                playback=#{playback},
            </if>
        </set>
        <where>
            <if test="id != null ">
                id=#{id}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Long">
        DELETE
        FROM metoo_room_program
        WHERE id=#{id}
    </delete>

    <select id="findObjByid" resultType="RoomProgram">
        SELECT *
        FROM metoo_room_program
        WHERE
        id=#{id}
    </select>

    <select id="condition" parameterType="map" resultType="RoomProgram">
        SELECT *
        FROM metoo_room_program mrp
        <where>
            <if test = "status != null">
                and status=#{status}
            </if>
            <if test = "live != null">
                and live=#{live}
            </if>
            <if test="RoomId">
                and RoomId = #{RoomId}
            </if>
        </where>
    </select>

    <select id="livestatus" parameterType="map" resultType="RoomProgram">
        SELECT <include refid="program"/>
        FROM metoo_room_program mrp
        <where>
            <if test="status != null">
                AND status=#{status}
            </if>
            <if test="live != null">
                AND live=#{live}
            </if>
        </where>
    </select>
</mapper>